@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default cupcake;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}
header{
  margin: 80px 0 0 0;
}
footer{
  margin: 25px 0;
}
section{
  text-align: center;
}

.joke{
  font-size: 23pt;
  color: #dddbf1;
  text-align: center;
  background: #383f51;
  border: 2px solid #dddbf1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 20%);
  padding: 35px;
  margin-bottom: 50px;
  width: 350px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
}

.fade-in {
  opacity: 1;
}

.joke-btn{
  background: #29344b;
  color: #dddbf1;
  padding: 25px 80px;
  margin: 0 0 50px 0;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14pt;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 20%);
}
.joke-btn:hover{
  background: #3c4f76;
  cursor: pointer;
}

.footer-text{
  color: #d1beb0;
  font-size: 14pt;
  line-height: 1.2;
  text-transform: uppercase;
}

.heart-icon{
  color: red;
}

.copy-icon{
   cursor: pointer;
   fill: #dddbf1;
   position: relative;
   bottom: 250px;
   left: 310px;
   width: 24px;
   height: 24px;
}

.help-menu-header{
  background: #7b6ef3;
  color: #dbf1dd;
}
.help-menu-body{
  background: #3c4f76;
  text-align: left;
  color: #dbf1dd;
}
.admin-joke-id{
  color:#31b495;
  font-size: 12pt;
  padding: 35px 0px 0px 35px;
  background: #29344b;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 20%);
}
.admin-joke-item{
   font-size: 16pt;
  color: #dddbf1;
   background: #29344b;
   padding: 0px 35px 35px 35px;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 20%);
}
.admin-joke-btn{
background: #29344b;
  color: #dddbf1;
  padding: 15px 20px;
  margin: 25px 0;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14pt;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 20%);
}
.admin-joke-btn:hover{
  background: #3c4f76;
  cursor: pointer;
}
.admin-edit-delete-item{
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: right;
  font-size: 12pt;
  background: #3c4f76;
  border-radius: 0 0 15px 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 20%);
}
.admin-edit-delete-item span{
  color: #d1beb0;
}